
<div class="main top-main">
  <div class="top-message">
    <h2>ACTest</h2>
    <h3>アクションケーブルテスト</h3>
    <p>ActionCableの練習のために<br>作成した<br>投稿ウェブアプリです。</p>
  </div>
  <div class="login-signup-wrapper">
    <a class = "login-show">ログイン</a>
    <a class = "signup-show">新規登録</a>


  </div>
</div>
