
<div class="main top-main">
  <div class="top-message">
    <h2>kamatter</h2>
    <h3>かまってー</h3>
    <p>作成者であるkamaが<br>誰かにかまってほしいときに<br>投稿するためのウェブアプリです。</p>
  </div>
  <div class="login-signup-wrapper">
    <a class = "login-show">ログイン</a>
    <a class = "signup-show">新規登録</a>


  </div>
</div>
