<div class="main posts-index">
  <div class="container">
      <h1 class="form-heading">アップデート</h1>

    <%@updates.each do |update|%>
    <div class="posts-index-item">
      <%=update.content%>
    </div>
    <%end%>

  </div>
</div>
